.row {
	margin: 0;
}
.black-bg{
	    background-color: #424A5D;
	    height: 50px;
	    padding: 7px 11px 10px 14px;
	    color: #fff;
	    border-bottom: 1px solid #2B313D;
}
.sidebar-toggle-box {
	float: left;
	font-size: 1.7em;
	color: #fff;
}
.visible-xs {
	float: left;
}
.logo {
	text-decoration: none;
    color: #fff;
    position: relative;
    top: 5px;
    padding-left: 15px;
}
.top-menu {
	border-radius: 5px;
    background-color: #9C4C9D;
    float: right;
}
.top-menu  .nav > li > a {
	color: #fff;
	padding: 6px 15px;

}
/*side*/
#sidebar  {
	background-color: #424A5D;
	padding: 1%;
	float: left;
	height: 1000px;
}
.sidebar-menu{
	color: #fff;
	padding-left: 0px;
}
.sub-menu {
	text-decoration: none;
	list-style: none;
}
.sub-menu a {
	background-color: #424A5D;
	padding: 13px 63px 13px 10px;
    width: 100%;
    margin-bottom: 2%;
    display: block;
    color: #fff;
    text-decoration:none;
}
.sub-menu a:hover {
	background-color: #9C4C9D;
}
@media screen and (max-width: 767px) {
	.visible-xs	{	
		position: relative;
	    left: 15px;
	}

}
/*form componen*/ 
body {
	background-color: #F2F2F2; 
}

#main-content {
	display: flex;

}
.wrapper {
	width: 100%;
	color: #989898;
}
.wrapper h3 {
	margin-left: 1%;
}
.form-panel {
	background-color: #fff;
    padding: 1%;
    box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.75);
    margin-bottom: 3%;
}